@import '../../utils/variables';

.game {  
  .choice-wrapper {
    transform: scale(0.75);
    margin-top: 3.5rem;

    .bg-img--pentagon {
      position: relative;
      z-index: -10;
    }
    
    .choice {
      position: absolute;
      
      &--lizard {
        left: 0;
        bottom: -70px;
      }
      &--paper {
        right: -70px;
        top: 50px;
      }
      &--rock {
        right: 0;
        bottom: -70px;
      }
      &--scissors {
        top: -70px;
        left: 100px;
      }
      &--spock {
        left: -70px;
        top: 50px;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .choice-wrapper {
      transform: scale(1);
      margin-top: 5rem;
    }
  }
}