.header {
    align-items: center;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem 1.25rem;
    width: 650px;
    max-width: 100%;
  }
  
  .score-container {
    background-color:white;
    border-radius: 10px;
    padding: 1rem 3rem;
    text-align: center;
  
    h3 {
      color: hsl(229, 64%, 46%);
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 0;
      text-transform: uppercase;
    }
  
    .score {
      font-size: 4rem;
      line-height: 1;
      color: hsl(229, 15%, 40%);
      font-weight: 700;
    }
  }