$mobile: 375px;
$desktop: 1024px; 

$choice-size: 140px;
$choice-border-width: 17px;
$choice-shadow-size: 7px;

$choice-size-big: 280px;
$choice-border-width-big: 34px;
$choice-icon-size-big: 5.5rem;
$choice-shadow-size-big: 12px;