@import '../../utils/animations';
@import '../../utils/variables';

.rules-btn {
  background-color: transparent;
  border: 2px solid hsl(216, 15%, 56%);
  border-radius: 8px;
  color: hsl(215, 25%, 87%);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.60rem 1.9rem;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 auto 3rem auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  @media screen and (min-width: $desktop) {
    position: absolute;
    margin-bottom: 2rem;
    margin-right: 2rem;
    right: 0;
    bottom: 0;
  }
}

#rules-modal-container { 
  .rules-modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transform: scale(0);

    .rules-modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      padding: 2rem;
      height: 100%;

      &__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
      }

      &__title {
        margin: 0;
        text-transform: uppercase;
        font-size: 2rem;
        color: hsl(229, 25%, 31%);
        line-height: 1;
      }

      &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        padding: 0.25rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 3rem;
      }

      &__content {
        margin: 6rem 0 1rem 0;
      }
    }
  }

  &.rules-modal--active {
    .rules-modal-wrapper {
      animation: unfoldIn .6s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
  }

  @media screen and (min-width: $desktop) {
    .rules-modal-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.25);

      .rules-modal {
        border-radius: 0.5rem;
        height: auto;
  
        &__header {
          justify-content: space-between;
          flex-direction: row;
          width: 100%;
          margin: 0;
        }

        &__close {
          margin-right: -0.25rem;
          position: unset;
          margin-bottom: 0;
        }

        &__content {
          margin: 1rem 0;
        }
      }
    }

    &.rules-modal--active {
      .rules-modal-wrapper {
        transform: scaleY(.01) scaleX(0);
        
        .rules-modal {
          transform: scale(0);
          animation: zoomIn .5s .6s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
    }
  }
}